fastapi[all]
unicorn
requests
mypy
flake8
black
pytest
isort
unify
pydantic~=1.9.0
types-requests
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-jinja2
opentelemetry-instrumentation-requests
psutil  # needed to get ram and cpu usage in the observer example
