<html>
<head>
    <title>Russky App 2022</title>
    <link href="/static/styles.css" rel="stylesheet">
    <link id="favicon" rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
<div class="avatar">
    <img src="{{ url_for('avatar') }}" width="50" height="50">
</div>
<div class="recommendation">
    {% if recommendation['type'].name == 'film' %}
        {% include 'recommendations/film.html' %}
    {% endif %}
    {% if recommendation['type'].name == 'music' %}
        {% include 'recommendations/music.html' %}
    {% endif %}
</div>
</body>
</html>
