body {
    margin: 0;
    padding: 0;
}

.recommendation {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.title {
    font-size: 5vw;
    max-width: 70%;
    text-align: center;
}

.logo {
    margin: 3vw;
    overflow: hidden;
    flex: 1 1 auto;
    align-self: stretch;
}

.logo-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: top;
}

.audio {
    flex: 0 0 auto;
}
